:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*body {
  margin: 0;
  /*display: flex;*/
  /*place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

html, body, #root { 
  height: 100%; /* Asegura que todos los contenedores principales ocupen la altura completa */
  width: 100%;  /* Asegura que ocupen el ancho completo */
  margin: 0;    /* Elimina el margen por defecto del body */
  padding: 0;   /* Elimina el padding por defecto */
}

body {
  /* Eliminamos los estilos problemáticos */
  display: block; /* Aseguramos el comportamiento normal de bloque */
  min-height: 100vh;
  background-color: #f9f9f9; /* Aplicamos un color de fondo uniforme a todo el body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Cabecera compacta + separadores verticales visibles */
.tabla-general .ant-table-thead > tr > th {
  font-size: 14px !important;
  padding: 2px 6px !important;
  height: 22px;                 /* compacta, pero suficiente para los iconos de orden */
  background: #f5f5f5;          /* leve contraste */
  /*border-bottom: 1px solid #d9d9d9;     /* línea inferior de cabecera */
  /*border-right: 1px solid #e5e7eb;      /* <<< NUEVO: separador vertical */
  position: relative;                    /* para pseudo-elemento opcional */
  line-height: 1.2;
}



/* Opcional: resalta aún más las divisiones de cabecera con una línea “fina” */
.tabla-general .ant-table-thead > tr > th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 0;
  width: 0;
  border-right: 1px solid #dcdfe3;        /* tono un poco más fuerte */
  pointer-events: none;
}

/* Opcional: mejora contraste al hacer hover sobre cabecera */
.tabla-general .ant-table-thead > tr > th:hover {
  background: #efefef;
}
